.container {
  width: 80%;
  margin: 0 auto !important;
}
// Background
.bg-dark-gray{
  background-color: gray;
}
.bg-light-gray{
  background-color: #ddd;
}
// MARGIN
.mt{
  margin-top: 25rem;
}

// ACTIVE
.active {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    bottom: 0;
  }
}

.text-center{
  text-align: center;
}

// FLEX CLASSES
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}
// SECTIONS
.section-title {
  position: relative;
  h3 {
    font-size: 20rem;
    margin: 15rem 0;
    font-weight: 700;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      width: 3%;
      height: 3px;
      background-color: red;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.section-info{
  font-size: 15rem;
  padding: 10rem 0;
  letter-spacing: 1px;
}

.section-parts{
  display: flex;
  .section-part{
    flex: 1;
  }
}