.container {
  width: 80%;
  margin: 0 auto;
}

.active{
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: red;
        bottom: 0;
      }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}
