.container {
  width: 80%;
  margin: 0 auto !important;
}

.bg-dark-gray {
  background-color: gray;
}

.bg-light-gray {
  background-color: #ddd;
}

.mt {
  margin-top: 25rem;
}

.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  position: relative;
}

.section-title h3 {
  font-size: 20rem;
  margin: 15rem 0;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title h3::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 3px;
  background-color: red;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-info {
  font-size: 15rem;
  padding: 10rem 0;
  letter-spacing: 1px;
}

.section-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-parts .section-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* ********** RESET CSS ********** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********** MAIN CODE ********** */
html {
  font-size: 1.6px;
}

body {
  font-size: 10rem;
  /* ********** HEADER (index.html) ********* */
  /* ********** HEADER (except index.html) ********* */
  /* ******************* INDEX.HTML ********************* */
  /* *********** INTRODUCTION ************ */
  /* ************ PROFILE ************* */
  /* ************ WORKING PROCESS */
  /* ************* FOOTER ************* */
  /* ******************* ABOUT.HTML ********************* */
  /* ******************WHAT I KNOW ***************** */
  /* ****************** PROJECTS.html ***************** */
  /* ****************** CONTACT.html ***************** */
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 55555;
  top: 15px;
  left: 0;
  right: 0;
}

body header .header-logo {
  width: 60px;
  height: auto;
}

body header .header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-logo a img {
  width: 100%;
}

body header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav-bar ul li {
  margin: 0 20rem;
  position: relative;
  padding: 10px 0px;
}

body header .nav-bar ul li a {
  color: #fff;
}

body header .nav-bar ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

body header .nav-bar ul li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
}

body .headers {
  background-image: url("../img/bg.jpeg") !important;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  height: 80px;
  border-bottom: 2px solid red;
}

body .headers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-img {
  background-image: url("../img/bg.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1111;
}

body .bg-img .bg-img-body {
  width: 50%;
  position: absolute;
  z-index: 66666;
}

body .bg-img .bg-img-body h1, body .bg-img .bg-img-body p {
  font-size: 30rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5rem;
}

body .bg-img .bg-img-body a {
  padding: 5rem;
  background-color: #ddd;
  border-radius: 4px;
  color: #000;
  margin-top: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .bg-img .bg-img-body a:hover {
  background-color: cornflowerblue;
  color: #fff;
}

body .bg-img::before {
  content: "";
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

body .introduction {
  margin-bottom: 30rem;
}

body .introduction .section-part {
  padding: 0 15rem;
}

body .introduction .section-part .part-icon {
  font-size: 25rem;
  color: red;
  margin: 15rem 0 5rem 0;
}

body .introduction .section-part .part-info p:first-child {
  color: #000;
  font-weight: 700;
  margin-bottom: 5rem;
}

body .profile .section-part {
  padding: 20rem 0;
}

body .profile .section-part i {
  font-size: 30rem;
}

body .profile .section-part p, body .profile .section-part span {
  font-size: 15rem;
  margin-top: 5rem;
}

body .working-process .section-part {
  padding: 0 15rem;
}

body .working-process .section-part i {
  font-size: 30rem;
  color: #fff;
  background-color: #333;
  padding: 10rem;
  border-radius: 50%;
  margin-bottom: 7rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .working-process .section-part i::after {
  content: "1";
  font-size: 12rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .working-process .section-part i:hover {
  background-color: red;
}

body .working-process .section-part i:hover::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #333;
}

body .working-process .section-part p {
  font-weight: 700;
  margin: 5rem 0;
}

body footer {
  padding: 15rem 0;
  background-color: #333;
  margin-top: 15rem;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .foot-left {
  color: #fff;
}

body footer .container .foot-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .container .foot-nav ul i {
  color: #fff;
  padding: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .container .foot-nav ul i:hover {
  background-color: red;
}

body .about-me .section-parts .part-1 {
  width: 30%;
}

body .about-me .section-parts .part-1 img {
  width: 100%;
}

body .about-me .section-parts .part-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10rem 40rem;
}

body .about-me .section-parts .part-2 h5 {
  font-weight: 700;
  margin-bottom: 5rem;
}

body .about-me .section-parts .part-2 p {
  line-height: 1.4;
}

body .what-i-know {
  margin-top: 30px;
  padding: 10rem 0;
  background-color: #333;
}

body .what-i-know .section-title {
  color: #fff;
  margin-bottom: 15rem;
}

body .what-i-know p {
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 700;
}

body .what-i-know .progress-bar {
  margin-bottom: 40px;
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
}

body .what-i-know .web-development::before {
  content: "";
  position: absolute;
  z-index: 333;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background-color: #ef6d6d;
}

body .what-i-know .mobile-app::before {
  content: "";
  position: absolute;
  z-index: 333;
  width: 75%;
  height: 20px;
  border-radius: 5px;
  background: #ef6d6d;
}

body .what-i-know .data-science::before {
  content: "";
  position: absolute;
  z-index: 333;
  width: 55%;
  height: 20px;
  border-radius: 5px;
  background-color: #ef6d6d;
}

body .what-i-know .machine-learning::before {
  content: "";
  position: absolute;
  z-index: 333;
  width: 85%;
  height: 20px;
  border-radius: 5px;
  background-color: #ef6d6d;
}

body .references .reference-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .references .reference-images .img {
  width: 25%;
  padding: 25rem;
}

body .references .reference-images .img img {
  width: 100%;
}

body .references .section-parts {
  margin-top: 15rem;
}

body .references .section-parts .section-part {
  margin-right: 5rem;
}

body .references .section-parts .section-part .reference-text {
  border: 1px solid #ddd;
  margin-bottom: 5rem;
  border-radius: 4px;
  padding: 3rem;
}

body .references .section-parts .section-part .reference-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .references .section-parts .section-part .reference-info img {
  width: 40px;
  border-radius: 50%;
  margin-right: 5rem;
}

body .my-projects .section-parts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

body .my-projects .section-parts .project-part .project-img img {
  width: 100%;
}

body .my-projects .section-parts .project-part .project-text {
  background-color: #ddd;
  padding: 10rem;
  color: #000;
}

body .my-projects .section-parts .project-part .project-text p {
  font-weight: 700;
  font-size: 15rem;
  margin-top: 5rem;
}

body .form form div {
  width: 100%;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .form form div input {
  width: 48%;
  padding: 3rem;
  border-radius: 3px;
  border: 2px solid #ddd;
}

body .form form div textarea {
  width: 100%;
  resize: none;
  border: 2px solid #ddd;
  padding: 5rem;
}

body .form form a {
  background: #333;
  color: #fff;
  padding: 5rem;
  border-radius: 4px;
}

body .last-info {
  background-color: red;
  width: 100%;
  padding: 35rem 0;
  margin-top: 50rem;
}

body .last-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .last-info .icons .icon {
  color: #fff;
}

body .last-info .icons .icon p {
  margin: 5rem 0;
}

body .last-foot {
  margin-top: 0 !important;
}
/*# sourceMappingURL=main.css.map */