@import "./general";

/* ********** RESET CSS ********** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********** MAIN CODE ********** */
html{
    font-size: 1.6px;
}
body {
    font-size: 10rem;
    // HEADERS FOR ALL PAGES
    /* ********** HEADER (index.html) ********* */
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      z-index: 55555;
      top: 15px;
      left: 0;
      right: 0;
      .header-logo {
        width: 60px;
        height: auto;
        a {
          display: flex;
          img {
            width: 100%;
          }
        }
      }
      .nav-bar ul {
        display: flex;
        li {
          margin: 0 20rem;
          position: relative;
          padding: 10px 0px;
          a{
            color: #fff;
            &:hover{
              color: rgba(255, 255, 255, 0.8);
            }
          }
          &:hover{
            &::before{
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: red;
              bottom: 0;
            }
          }
        }
      }
    }
    /* ********** HEADER (except index.html) ********* */
    .headers{
      background-image: url("../img/bg.jpeg") !important;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      // top: 0;
      position: static;
      height: 80px;
      border-bottom: 2px solid red;
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    /* ******************* INDEX.HTML ********************* */
    .bg-img {
      background-image: url("../img/bg.jpeg");
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1111;
      .bg-img-body {
        width: 50%;
        position: absolute;
        z-index: 66666;
        h1,p{
          font-size: 30rem;
          color: #fff;
          font-weight: 700;
          margin-bottom: 5rem;
        }
        a{
          padding: 5rem;
          background-color: #ddd;
          border-radius: 4px;
          color: #000;
          margin-top: 5rem;
          transition: all 0.3s;
          &:hover{
            background-color: cornflowerblue;
            color: #fff;
          }
        }
      }
      &::before {
        content: "";
        background: black;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
      }
    } 
    /* *********** INTRODUCTION ************ */
    .introduction{
      margin-bottom: 30rem;
      .section-part{
        padding: 0 15rem;
        .part-icon{
          font-size: 25rem;
          color: red;
          margin: 15rem 0 5rem 0;
        }
        .part-info{
          p:first-child{
            color: #000;
            font-weight: 700;
            margin-bottom: 5rem;
          }
        }
      }
    }
    /* ************ PROFILE ************* */
    .profile{
      .section-part{
        padding: 20rem 0;
        i{
          font-size: 30rem;
        }
        p,span{
          font-size: 15rem;
          margin-top: 5rem;
        }
      }
    }
    /* ************ WORKING PROCESS */
    .working-process{
      .section-part{
        padding: 0 15rem;
        i{
          font-size: 30rem;
          color: #fff;
          background-color: #333;
          padding: 10rem;
          border-radius: 50%;
          margin-bottom: 7rem;
          position: relative;
          transition: all 0.5s;
          &::after{
            content: "1";
            font-size: 12rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: red;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover{
            background-color: red;
            
            &::after{
              transition: all 0.5s;
              background-color: #333;
            }
          }
        }
        p{
          font-weight: 700;
          margin: 5rem 0;
        }
      }
    }
    /* ************* FOOTER ************* */
    footer{
      padding: 15rem 0;
      background-color: #333;
      margin-top: 15rem;
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .foot-left{
          color: #fff;
        }
        .foot-nav{
          ul{
            display: flex;
            
            i{
              color: #fff;
              padding: 5rem;
              border-radius: 50%;
              border: 1px solid white;
              margin-left: 10rem;
              transition: all 0.3s;
              &:hover{
                background-color: red;
              }
            }
          }
        } 
      }
      
    }

    /* ******************* ABOUT.HTML ********************* */
    .about-me{
      .section-parts{
        .part-1{
          width: 30%;
          img{
            width: 100%;
          }
        }
        .part-2{
          flex: 1;
          padding: 10rem 40rem;
          h5{
            font-weight: 700;
            margin-bottom: 5rem;
          }
          p{
            line-height: 1.4;
          }
        }
      }
    }
    /* ******************WHAT I KNOW ***************** */
    .what-i-know {
      margin-top: 30px;
      padding: 10rem 0;
      background-color: #333;
      .section-title{
        color: #fff;
        margin-bottom: 15rem;
      }
      p{
        color: #fff;
        margin-bottom: 2rem;
        font-weight: 700;
      }
      .progress-bar {
        margin-bottom: 40px;
        width: 100%;
        height: 20px;
        background-color: #ccc;
        border-radius: 5px;
        position: relative;
      }
      .web-development{
        &::before{
          content: "";
          position: absolute;
          z-index: 333;
          width: 100%;
          height: 20px;
          border-radius: 5px;
          background-color: #ef6d6d;
          
        }
      }
      .mobile-app::before {
        content: "";
        position: absolute;
        z-index: 333;
        width: 75%;
        height: 20px;
        border-radius: 5px;
        background: #ef6d6d
      }
      .data-science::before {
        content: "";
        position: absolute;
        z-index: 333;
        width: 55%;
        height: 20px;
        border-radius: 5px;
        background-color: #ef6d6d;
      }
      .machine-learning::before {
        content: "";
        position: absolute;
        z-index: 333;
        width: 85%;
        height: 20px;
        border-radius: 5px;
        background-color: #ef6d6d;
      }
    }

    // REFERENCES
    .references{
      .reference-images{
        display: flex;
        .img{
          width: 25%;
          padding: 25rem;
          img{
            width: 100%;
          }
        }
      }
      .section-parts{
        margin-top: 15rem;
        .section-part{
          margin-right: 5rem;
          .reference-text{
            border: 1px solid #ddd;
            margin-bottom: 5rem;
            border-radius: 4px;
            padding: 3rem;
          }
          .reference-info{
            display: flex;
            align-items: center;
            img{
              width: 40px;
              border-radius: 50%;
              margin-right: 5rem;
            }
          }
        }
      }
    }
    /* ****************** PROJECTS.html ***************** */
    .my-projects{
      
      .section-parts{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 10rem;
        .project-part{
          .project-img{
            img{
              width: 100%;
            }
          }
          .project-text{
            background-color: #ddd;
            padding: 10rem;
            color: #000;
            p{
              font-weight: 700;
              font-size: 15rem;
              margin-top: 5rem;
            }
          }
        }
      }
    }

    /* ****************** CONTACT.html ***************** */
    .form{
      form{
        div{
          width: 100%;
          margin-bottom: 5rem;
          display: flex;
          justify-content: space-between;
          input{
            width: 48%;
            padding: 3rem;
            border-radius: 3px;
            border: 2px solid #ddd;
          }
          textarea{
            width: 100%;
            resize: none;
            border: 2px solid #ddd;
            padding: 5rem;
          }
          
        }
        a{
          background: #333;
          color: #fff;
          padding: 5rem;
          border-radius: 4px;
        }
      }
    }
    .last-info{
      background-color: red;
      width: 100%;
      padding: 35rem 0;
      margin-top: 50rem;
      .icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon{
          color: #fff;
          p{
            margin: 5rem 0;
          }
        }
      }
      
    }
    .last-foot{
      margin-top: 0 !important;
    }
}

