.container {
  width: 80%;
  margin: 0 auto;
}

.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ********** RESET CSS ********** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********** MAIN CODE ********** */
html {
  font-size: 1.6px;
}

body {
  font-size: 10rem;
  /* ********** HEADER ********* */
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 55555;
  top: 15px;
  left: 0;
  right: 0;
}

body header .header-logo {
  width: 60px;
  height: auto;
}

body header .header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-logo a img {
  width: 100%;
}

body header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav-bar ul li {
  margin: 0 20rem;
  position: relative;
  padding: 10px 0px;
}

body header .nav-bar ul li a {
  color: #fff;
}

body header .nav-bar ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

body header .nav-bar ul li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
}

body .bg-img {
  background-image: url("../img/bg.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1111;
}

body .bg-img .bg-img-body {
  width: 50%;
  position: absolute;
  z-index: 66666;
}

body .bg-img .bg-img-body h1, body .bg-img .bg-img-body p {
  font-size: 30rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5rem;
}

body .bg-img::before {
  content: "";
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
/*# sourceMappingURL=main.css.map */